@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/accessibility.css';

@layer base {
  body {
    font-family: 'Assistant', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo', sans-serif;
  }
}